*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  html,body{
    width: 100%;
    height: 100%;
    margin:0%;
    padding:0%;
  }
  /* ----------------banner---------------- */
  
  header{
    height: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
  }
  
  header ul{
    list-style: none;
  }
  header li{
    display: inline-block;
  }
  header li::after{
    content: "";
    margin-right: 15px;
  }

  /* ----------------main-------------------------*/
  [role="main"]{
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ----------------Start/End/Result Screen---------------- */

  .start-screen, .end-screen, .result-screen{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 15px;
    width: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

  .start-screen button[type="button"],
  .end-screen button[type="button"],
  .result-screen button[type="button"]{
    width: 50%;
    margin-top: 10px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .start-screen button[type="button"]:focus,
  .end-screen button[type="button"]:focus,
  .result-screen button[type="button"]:focus,
  .start-screen button[type="button"]:hover,
  .end-screen button[type="button"]:hover,
  .result-screen button[type="button"]:hover{
    background-color: grey;
    color: white;
  }

  .result p span{
    font-weight: bold;
  }
  
  /* ----------------QUIZ---------------- */
  .quiz{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .quiz fieldset{
    border: 0px;
    margin: 0px;
    padding: 0px;
    align-self: flex-start;
    display: flex;
  }

  .quiz legend{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  label{
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
  }
  button[type="submit"]{
    width: 100%;
    font-style: bold;
    text-align: start;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  
  label:hover, input[type="radio"]:checked,
  button[type="submit"]:focus,
  button[type="submit"]:hover{
    background-color: grey;
    border: 1px solid black;
    color: white;
  }
  
  
 